/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  padding: 100px 0;
  color: var(--accent-color);
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: repeat;
  background-position: center;
  background-size: 4px;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.content__block {
  margin: 0 auto;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  inline-size: var(--content-width);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-inline: clamp(0.875rem, -1.4688rem + 10vw, 7.53125rem);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);;
  font-family: var(--accent-font), fantasy;
  text-align: center;
  text-transform: uppercase;
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  pointer-events: none;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-inline-start: 20px;
  padding-block-end: 25px;
}

.theme-menu__button {
  position: relative;
  border: none;
  padding: 0;
  opacity: 1;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  opacity: 0;
  background-color: var(--accent-color);
  transition: inline-size 0.3s ease, opacity 0.3s ease;
  inline-size: 0;
  block-size: 2px;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  animation: arrow 0.5s infinite ease-in-out alternate;
  inset-inline-start: -20px;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  inline-size: 100%;
}

.main {
  margin-block-start: 100px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px 25px;
}

.card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: 5px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-font-weight);
}

.card__content-image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__actions {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-self: flex-end;
  padding: 0 25px 25px 0;
}

.section__save {
  margin: 50px auto 0;
  color: var(--accent-color);
  inline-size: fit-content;
}

.button {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  border: 2px solid var(--accent-color);
  box-shadow: 0px 0px 0px var(--accent-color);
  color: var(--accent-color);
  background-color: var(--background-color);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px var(--accent-color);
}

.button__image {
  position: relative;
  z-index: 1;
  inline-size: 1.2rem;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
}

.button::after {
  content: '';
  position: absolute;
  display: block;
  background-color: var(--background-color);
  transition: inline-size 0.5s ease-in-out, background-color 0.5s ease-in-out;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 0%;
  block-size: 100%;
}

.button:hover::after {
  background-color: var(--accent-color);
  inline-size: 100%;
}

.button:hover {
  color: var(--background-color);
  transition: color 1s ease;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.section__save-button {
  gap: 8px;
  padding: 17px 20px 17px 20px;
}

@media (width <= 375px) {
  .content__block {
    inline-size: 100%;
  }

  .section__save-button {
    flex-direction: column;
  }

  .button__image {
    position: relative;
    z-index: 1;
    inline-size: 1.6rem;
  }
}